numpy
matplotlib
pandas
seaborn
scikit-learn
scipy
tqdm
datasets
transformers
torch
wordcloud

# Some optional ones - depends on your setup
twarc # do not use if hydration isn't needed
ipykernel # do not import if you've already setup your jupyter environment 
# optional for auditing and performance decay trend analysis: pip install bertopic sentence-transformers umap-learn hdbscan wordcloud

#optional
bertopic
hdbscan
sentence-transformers
umap-learn
